.site-slider{
	width:100%;
	background:url(images/aqua/slider_bg.png);
}
.bizfour-products-services-item{
	background:#dcdde0;
}
.bizfour-products-services-img{
	background:#d7d8d9;	
}
.bizfour-quote{
	border:1px solid #dcdde0;
}
.bizfour-quote-text{
	background:url(images/quote.png) top left no-repeat;		
}
.bizfour-quote-name span{
	background:#dcdde0;
}