.site-header {
    background:url(images/grebr/logo_bg.png);
}
.site-slider{
	background:url(images/grebr/header_bg.png);
}
.site-slider-slider-one-text-heading{
	color:#000;
	text-shadow:none;
}
.site-slider-slider-one-text-description{
	color:#000;
}
.site-footer{
	background:url(images/grebr/footer_bg.png);
}
.footer-social {
    background:#81b6d3;
}

.footer-widget-two{
	color:#fff;	
}
.footer-widget-three{
	color:#fff;	
}
.footer-widget-two .widget select{
	color:#fff;
	background:#000;
}
.footer-widget-three .widget select{
	color:#fff;
	background:#000;
}

.site-footer .widget {
	color:#000;
}
.site-footer .widget a{
	color:#000;
}
.site-footer .widget h1 {
	color:#000;
}
.site-footer .widget ul li{
	border-bottom:1px solid #668ea7;
}
.site-footer .widget ul li a{
	color:#000;
}
.site-footer .search-field{
	background:#668ea7 !important;
	color:#000;
}
.site-footer .search-submit{
	background:#000 !important;
	color:#fff !important;
}
.site-footer .wp-caption {
	border: 1px solid #668ea7;
}

.site-info a{
	color:#000;
}
.site-info h3 a{
	color:#000;
}
.site-info p{
	color:#000;
}
.site-info p a{
	color:#000;
}
.site-info p a:hover{
	text-decoration:none;
}
.footer-search .search-field{
	background:#668ea7 !important;
	color:#000;
}
.footer-search .search-submit{
	background:#000 !important;
	color:#000 !important;
}

.bizfour-products-services-item{
	background:#e4e6e9;
}
.bizfour-products-services-img{
	background:#e4e6e9;	
}
.bizfour-quote{
	border:1px solid #e4e6e9;
}
.bizfour-quote-text{
	background:url(images/quote.png) top left no-repeat;		
}
.bizfour-quote-name span{
	background:#e4e6e9;
}